# Ch :-3 Regular Expression

In [1]:
import re
txt = "The rain in Spain"
x = re.findall("ai",txt)
print(x)

['ai', 'ai']

In [2]:
import re
txt = "The rain in Spain"
x = re.findall("rai",txt)
print(x)

['rai']

In [3]:
import re
txt = "The rain in Spain"
x = re.findall("rain",txt)
print(x)

['rain']

In [4]:
import re
txt = "The rain in Spain"
x = re.findall("airn",txt)
print(x)

[]

In [5]:
import re
txt = "The rain in Spain"
x = re.findall("[arn]",txt)
print(x)

['r', 'a', 'n', 'n', 'a', 'n']

In [6]:
import re
txt = "The rain in Spain"
x = re.findall("[arn][arn]",txt)
print(x)

['ra']

In [7]:
import re
txt = "The rain in Spain"
x = re.findall("[arin][arin][arin]",txt)
print(x)

['rai', 'ain']

In [8]:
import re
txt = "The rain in Spain"
x = re.findall("[arin][arin][arin][arin]",txt)
print(x)

['rain']

In [9]:
import re
txt = "The rain in Srain"
x = re.findall("[arin][arin][arin][arin]",txt)
print(x)

['rain', 'rain']

In [10]:
import re
txt = "The rain in Spain"
x = re.search("\s",txt)
print(x)

<re.Match object; span=(3, 4), match=' '>

In [11]:
import re
txt = "The rain in Spain"
x = re.search("\w",txt)
print(x)

<re.Match object; span=(0, 1), match='T'>

In [12]:
import re
txt = "The rain in Spain"
x = re.search("[a-n][a-n][a-n]",txt)
print(x)

<re.Match object; span=(5, 8), match='ain'>

In [13]:
import re
txt = "The rain in Spain"
x = re.search("[a-n][a-n][a-n]",txt)
print(x.start())

5

In [14]:
import re
txt = "The rain in Spain"
x = re.search("rain",txt)
print(x)

<re.Match object; span=(4, 8), match='rain'>

In [15]:
import re
txt = "The rain in Spain"
x = re.search("portugal",txt)
print(x) # None

None

In [16]:
import re
txt = "The rain in Spain"
x = re.search("portugal",txt)
print(x.start())

AttributeError: 'NoneType' object has no attribute 'start'

In [17]:
import re
txt = "The rain in Spain"
x = re.split("\s",txt)
print(x)

['The', 'rain', 'in', 'Spain']

In [18]:
import re
txt = "The rain in Spain"
x = re.split("\s",txt,1) # only one space to split because args give 1.
print(x)

['The', 'rain in Spain']

In [19]:
import re
txt = "The rain in Spain"
x = re.split("\s",txt,2)
print(x)

['The', 'rain', 'in Spain']

In [23]:
import re
txt = "The rain in Spain"
x = re.sub("\s","9",txt) # sub(substitute):this is replce of space to 9.
print(x)

The9rain9in9Spain

In [24]:
import re
txt = "The rain in Spain"
x = re.sub("\s","9",txt,1)
print(x)

The9rain in Spain

In [25]:
import re
txt = "The rain in Spain"
x = re.sub("\w","9",txt)
print(x)

999 9999 99 99999

In [26]:
import re
txt = "The rain in S8ain"
x = re.sub("\w","9",txt)
print(x)

999 9999 99 99999

In [28]:
import re
txt = "The rain in Spain"
x = re.sub("\W","9",txt)
print(x)

The9rain9in9Spain

In [34]:
import re
urls = """https://example.com/2024/23/30/article-title 
          https://news.site.com/archives/2019/12/15/save-news
          https://blog.example.com/posts/2023/07/05/save-news
          https://website.com/2022/08/09"""
data = re.findall(r'/(\d{4})/(\d{2})/(\d{2})',urls)
data

[('2024', '23', '30'),
 ('2019', '12', '15'),
 ('2023', '07', '05'),
 ('2022', '08', '09')]